body,html{
  line-height: 1;
  font-weight: 200;
  font-family: 'PingFang SC','STHeitiSC-Light', 'Helvetica-Light', arial;
  height: 100%;
  width: 100%;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.clearfix {
  *zoom:1
}   

